[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-flake8"]
	path = vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pytest.vim"]
	path = pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "jedi-vim"]
	path = jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "coveragepy.vim"]
	path = coveragepy.vim
	url = https://github.com/alfredodeza/coveragepy.vim.git
